<div class="header content rows-content-header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="<%= 'active' if current_page?(languages_path) %>"
               href="<%= languages_path %>">Languages</a>
          </li>
          <li>
            <a class="<%= 'active' if current_page?(translations_path) %>"
               href="<%= translations_path %>">Translations</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if current_page? controller: 'multilang/translations' %>
            <li class="save-all-container hide">
              <a class="save-all-translations ladda-button"
                 data-action="<%= save_all_translations_path %>"
                 data-spinner-color="#555555"
                 data-style="slide-right">
                <span class="ladda-label">
                  Save all (<span class="count">0</span>)
                </span>
              </a>
            </li>
          <% end %>
          <% unless Multilang.force_export %>
          <li>
            <a class="export-button ladda-button"
               data-spinner-color="#555555"
               data-style="slide-right"
               href="<%= export_url %>">
                <span class="ladda-label">
                  <%= icon('history') %> Export
                </span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
