<tr class="translation-container translation-<%= translation.id %>">
  <td class="col-sm-1">
    <%= image_tag translation.language.image.url %>
    &nbsp;
    <%= translation.language.locale %>
  </td>
  <td>
    <span class="check">
      <%= icon('check') %>
    </span>
    <span class="translate-control exchange hide">
      <button class="btn btn-success btn-xs update-control ladda-button"
              data-action="<%= translation_path(translation) %>"
              data-size="xs"
              data-style="expand-left">
        <span class="ladda-label">Save</span>
      </button>
    </span>
  </td>
  <td class="col-sm-9 edit-block"
      data-id="<%= translation.id %>"
      data-value="<%= translation.value %>">
    <textarea class="form-control"><%= translation.value %></textarea>
  </td>
  <td class="col-sm-1 status-column">
    <%= status_tag(translation.is_completed, 'Completed', 'Incompleted') %>
  </td>
  <td class="col-sm-1 status-action">
    <%= status_control translation %>
  </td>
</tr>
